.fieldset {
    margin: 0;
    padding: 0;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .navbar {
        justify-content: space-between;
        max-width: 100%;
    }

    .enlaces {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--background-azul2);
        width: 100%;
        flex-direction: column;
        text-align: center;
        color: white;
        max-width: 100%;
    }

    .enlaces li {
        margin: 15px 0;
        max-width: 100%;
    }

    .hamburguer {
        display: none;
        color: var(--color-negro);

    }

    .nav-enlaces.show {
        display: flex;
        background-color: var(--background-azul2);
    }

    .sombra {
        position: absolute;
        z-index: 0;
        top: 15rem;
        left: 10rem;
        padding: 2rem 4rem;
    }

    .espaciopregunta {
        width: 100%;
        margin: .5rem 1rem;
        font-size: 1rem;
        padding: .5rem 1.5rem;
    }

    .botonMas {
        margin: .5rem 15rem;
        padding: .2rem 1rem;
    }

    .nuestraPolitica {
        text-align: start;
        padding: .2rem 1rem;
    }

    .ourPolitica {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .ourPoliti {
        width: 15rem;
        height: 20rem;
    }

    .ourPolitic {
        width: 15rem;
        font-size: 1rem;
        margin: 4rem;
    }

    .politicos {
        width: 100%;
        margin: 0;
    }

    .fotoPersonaje {
        width: 100%;
        width: 10rem;
        height: 10rem;
        border-radius: 15rem;
        margin: 1rem 2rem;

    }

    .saberMas {
        width: 100%;
        margin: 0rem 1rem 1rem 4rem;
        padding: .1rem 1rem;
    }

    body {
        width:100%;
    }
}

/*Escritorio*/
@media (min-width: 1199.98px) {
    body {
        width: 100%;
    }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 900px) {
    body {
        font-size: 15px;
        width: 100%;
    }
}

/*ESCRITORIO 2*/
@media (min-width:600px) {
    body {
        width: 100%;
        
    }

    .ourPolitic {
        font-size: 1.5rem;
        padding: 1rem;
    }
}

/*Fin Escritorio*/


/*Tablet*/
/*Portrait*/


/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body {
        width: 100%;
    }
}

/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    *{
        box-sizing: border-box;
    }
    body {
        width: 100%;

    
    }
}

/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body {
        background: white;
    }
}

/*fin movil*/