/* Se eliminan los valores predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*PROPIEDADES UTILIZADAS EN TODO EL BODY*/
:root {
    --background-azul1: #080056;
    --background-azul2: #0E335B;
    --color-amarillo: #cccc36;
    --color-azulCielo: #09A0Db;
    --color-negro: #000000;
    --font-size: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* NAVBAR */
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    color: var(--background-azul1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    position: fixed;
    background-color: rgb(253, 252, 249);
    z-index: 1;
    top: 0rem;
}

.logotipo {
    width: 7rem;
    margin: .4rem;
}

a {
    text-decoration: none;
    color: var(--background-azul1);
}

.enlaces {
    text-decoration: none;
    color: var(--background-azul1);
    font-weight: 1rem;
}

.enlaces:hover {
    padding: 1rem .5rem;
    border-radius: .5rem;
    text-decoration: underline;
    color: var(--color-azulCielo);
}

.afiliate {
    text-decoration: none;
    border-radius: 2rem;
    margin: .2rem .5rem;
    padding: .1rem .3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    transition: .3s;
    background-color: var(--color-azulCielo);
    text-align: center;
    align-content: center;
    align-items: center;
    color: white;
    display: flex;
}

.material-symbols-outlined {
    margin: 0.3rem;
}

.material-symbols-outlined:hover {
    color: var(--color-negro);
    margin: 0.3rem;
}

.afiliate:hover {
    text-decoration: none;
    border-radius: 2rem;
    margin: .2rem .5rem;
    padding: .1rem .3rem;
    cursor: pointer;
    color: var(--color-negro);
    transition: .3s;
    font-size: .95rem;

}


/*--------------------------------SECCION DE CARROUSEL---------------------------------------------------*/
.datos-curiosos {
    padding: 1rem 1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    position: static;
    margin: 5rem .5rem .5rem 0rem;
}

#datos-curiosos {
    border-radius: 2rem;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--background-azul1);
    font-size: 2.5rem;
    margin: 0rem;
    text-shadow:
        -1px -1px 0px var(--background-azul1),
        1px -1px 0px var(--color-azulCielo),
        -1px 1px 0px var(--background-azul1),
        1px 1px 0px var(--background-azul1);
}

h2:hover {
    color: var(--secundary-color);
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06);

}

.lista-carrusel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem;
    overflow-x: auto;
    scroll-snap-type: initial;
    margin: 0rem 1rem;
}

.poli-item {
    scroll-snap-align: start;
    text-decoration: none;
    text-align: center;
    border-radius: 1.5rem;
    position: relative;
}


.poli-item img {
    border-radius: 1rem;
    height: 26rem;
    width: 39rem;
}

.sombra {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0e335b63;
    width: 39rem;
    height: 26rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    border-radius: 0.9rem;
    transition: opacity .3s;
    opacity: 0;
}

.sombra:hover {
    opacity: 1;
}

.datoCurioso {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3rem;
    color: white;
    background-color: var(--background-azul2);
}

/* ----------------------------SECCION DE NUESTRAS PROPUESTAS -------------------------- */

.politicos{
    max-width: 100%;
    margin: 3rem 8rem;
}

.encuentranos{
    max-width: 100%;
    margin:0rem 1rem;
}

.persona{
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
    margin: 0rem 7rem;
    text-align: center;
}

.persona:hover{
    color: #000000;
}

.fotoPersonaje{
    max-width: 100%;
    width:15rem;
    height: 15rem;
    border-radius: 15rem;
    gap:5rem;
    margin: 1rem 5rem;
}

.saberMas{
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--background-azul1);
    margin: .5rem 6rem 1rem 8rem;
    padding:.1rem 1rem;
    border-radius: 4rem;
    border-color: var(--background-azul1);
    align-items: start;
}

.saberMas:hover{
    background-color: var(--color-azulCielo);
    color: white;
}

.politicos{
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}



/* ----------------------------------FOOTER----------------------------------------------- */
footer{
    max-width: 100%;
    background-color: var(--background-azul1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: space-around;
    align-items: baseline;
    padding: 3rem;
}

.title{
    font-size: 1.5rem;
    padding: 0rem 1rem 0rem 0rem;
}

.title:hover{
    text-decoration: underline;
}

.imagefooter{
    width: 8rem;
    background-color: var(--background-azul2);
    border-radius: 5rem;
}

.sub{
    font-size: 1rem;
}

.sub:hover{
    color:var(--background-azul2);
    text-decoration: overline;
}

.name{
    background-color: var(--background-azul2);
    text-align: center;
    padding: .5rem  1rem;
    max-width: 100%;
    font-size: 1rem;
    color: var(--color-azulCielo);
}

.socialRed{
    width: 2rem;
}


/* --------------------------MEDIAQUERIES----------------------------- */
@media (min-width:1000.2px){
    body{
        background-color: blueviolet;
    }
    .persona{
        margin: .5rem 1rem 0rem 5rem;
    }
    .saberMas{
        margin: .5rem 1rem 1rem 6rem;
    }
}

@media (min-width: 900px) {
    
        body {
            font-size: 15px;
            background-color: aqua;
        }
    
        .politicosBox{
            padding: .5rem 0rem 0rem 1rem;
            margin:  0rem 0rem;
        }
    
        .politicos{
            gap:1rem;
        }
    
        .encuentranos{
            margin:.2rem;
        }
        .fotoPersonaje{
            margin:.5rem;
        }
        .persona{
            margin:0 1rem;
        }
        .saberMas{
            margin: 0rem 3rem;
        }
    
}